@font-face {
  font-family: "HLNT_Regular";
  src: url(../fonts/Halant-Regular.ttf);
}
@font-face {
  font-family: "PF_Bold";
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
}
@font-face {
  font-family: "RBTO_Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}